<footer class="site-footer h-card">
	<data class="u-url" href="{{ "/" | relative_url }}"></data>
	<div class="wrapper">

		<!-- Test Text -->
		<!--<p>Footer 1</p>-->

		<div class="footer-col-wrapper">
		
			<div class="footer-col footer-col-1">

				<!-- Test Text -->
				<!--<p>Footer column 1</p>-->

				<!-- RSS -->
				<p class="rss-subscribe"><a href="{{ "/feed.xml" | relative_url }}">RSS Feed</a></p>

				<!-- Site email -->
				{%- if site.email -%}
				<p><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></p>
				{%- endif -%}

			</div>

			<div class="footer-col footer-col-2">

				<!-- Test Text -->
				<p>Footer column 2</p>

			</div>

			<div class="footer-col footer-col-3">

				<!-- Test Text -->
				<p>Footer column 3</p>

			</div>
		</div>

		<p>Copyright &#169; 2023 Alan Nightingale. All rights reserved unless otherwise indicated.</p>

		<p><img src="/blog-test-new/images/alan-nightingale-pixel-16.png" width="16" height="16" alt="A black and white pixelated self-portrait of the author, Alan Nightingale."> Thanks for visiting!</p>

	</div>

</footer>
