<footer class="site-footer h-card">

	<data class="u-url" href="{{ "/" | relative_url }}"></data>

	<div class="wrapper">

		<!-- Test Text -->
		<p>Hello footer 3</p>

		<div class="footer-col-wrapper">
		
			<div class="footer-col footer-col-1">

				<!-- Test Text -->				
				<p>Hello footer 5</p>

				<!-- RSS -->
				<p class="rss-subscribe"><a href="{{ "/feed.xml" | relative_url }}">RSS</a></p>

				<!-- Something -->
				<p>Created with ❤️ in MN</p>

				<ul class="contact-list">
					<li class="p-name">

						<li><p>Hello footer 5 LI P</p></li>

						<!-- Was commented out, try adding to About page -->
						{%- if site.email -%}
						<li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
						{%- endif -%}

				</ul>
			</div>

			<div class="footer-col footer-col-2">
				<p>Hello footer 6</p>
				<!-- Was commented out -->
				{%- include social.html -%}
			</div>

			<div class="footer-col footer-col-3">
				<p>Hello footer 7</p>
				<!-- Was commented out -->
				<p>{{- site.description | escape -}}</p>
			</div>

			<p>Hello footer 8</p>

		</div>

		<p>Hello footer 9</p>

	</div>

</footer>
