<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- Was commented out -->
    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <!-- Was commented out -->
      <p><a href="https://ajnx.github.io/feed.xml">RSS</a></p>
      <!-- Was commented out -->
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      <p>2023 ajnx</p>
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            <!-- Was commented out -->
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <!-- Was commented out -->
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <!-- Was commented out -->
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
